body {
    margin: 0;
    padding: 0;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header" "sidebar content"
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    background-color: cornflowerblue;
}

.sidebar img {
    height: 1em;
}

.content {
    grid-area: content;
}